*{
    box-sizing: border-box;
}

body{
    background-color:lightgrey;
    font-family: sans-serif;

}

header{
    width: 100%;
    height: 90px;
    background-color: white;
    font-size: 15px small;
    margin: auto;
    color: black;
}

#burger{
    width: 25px;
    height: 25px;
    display: none;
}

@media only screen and (max-width: 762px) {
    header {  
        width: 100%;
    }
  }

nav{
    width: 80%;
    margin: auto;
}


header img{
    width: 200px;
    height: auto;
    position: absolute;
    top: 6px;
}

ul{
    margin-left: 1000px;
}

li{
    display: inline-block;
    margin: 20px;
}

li a{
    color: black;
}

#navx{
    display: none;
}



@media only screen and (max-width: 762px) {
    header #navbar li {  
        display: none;
    }
  }

@media only screen and (max-width: 762px) {
    header img {  
        width: 80px;
        top: 45px;
    }
  }

@media only screen and (max-width: 762px) {
    li {  
        display: block;
    }
  }

  @media only screen and (max-width: 762px) {
    nav>ul {  
        display: none;
    }
    #burger{
        display: block;
        margin-left: 300px;
    }
    nav:active #navx{
        display: block;
        position: absolute;
        margin: 90px 230px;
        background-color: royalblue;
    }
  }

.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

@media only screen and (max-width: 762px) {
    .container {
        display: block; 
        width: 100%;
    }
  }

#presentation{
    width: 60%;
}

@media only screen and (max-width: 762px) {
    #presentation {  
        width: 100%;
        margin: 0;
    }
  }

.container>div>img{
    width: 100%;
    border: 10px solid white;
    box-shadow: lightslategray 3px 3px 3px 3px;
    margin-top: 30px;
}

#vacance img{
    width: 20%;
    float: left;
}

.container h3{
    font-weight: bold;
}

#twocards{
    width: 40%;
    box-sizing: border-box;
    padding: 10px;
}

@media only screen and (max-width: 762px) {
    #twocards {  
        width: 100%;
        margin: 0;
    }
  }

 @media only screen and (max-width: 762px) {
    #vacance img { 
        width: 20%; 
        float: none;
    }
  }
table tr td{
    border: 1px solid black;
    width: 65%;
    padding: 10px;
}

table{
    width: 100%;
}

.card{
    background-color: white;
    padding: 20px;
    margin: 20px;
    height: 200px;
}

#suite{
    width: 48%;
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
    background-color: white;
    padding: 40px;
}

@media only screen and (max-width: 762px) {
    #suite {  
        width: 100%;
        margin: 10px 0;
    }
  }

#suite h1{
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 15px;
}

#suite h5{
    font-size: x-small;
    padding-bottom: 30px;
}

#suite p{
    font-size: 15px;
    line-height: 28px;
}

footer{
    background-color: white;
}

#foot{
    width: 80%;
    margin: auto;
    display: flex;
}

footer article{
    justify-content: space-between;
    width: 23%;
    margin: auto;
    margin: 10px;
}

footer img{
    width: 200px;
    height: auto;
}

footer>p{
    padding: 100px 0 30px 50px;
}

@media only screen and (max-width: 762px) {
    #foot {
        display: block;  
        width: 100%;
        margin: 0;
    }
  }

  @media only screen and (max-width: 762px) {
    footer article {

        width: 100%;
        margin: 30px 0;
    }
  }

  @media only screen and (max-width: 762px) {
    footer>p {  
        font-size: 12px ;
        padding: 0;
    }
  }



